a {
  text-decoration: none;
  color: #ffffff;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 10px 20px rgb(91, 153, 187);
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  text-transform: uppercase;
}

a:nth-child(2n + 1) {
  margin-right: 20px;
}
a:hover {
  color: #5f5f5f;
}

.header_box {
  display: flex;
  align-items: center;
}
